.contactError{
	color: red;
	width: 100px;
	
}

#contact{
	background-color: 	#F5F5F5;
	width: 60%;
	height: 350px;
	margin-top: 100px;
	margin-left: 250px;
	padding-top: 30px;
	text: Calibri;
	
}
#submit_button{
	margin-left: 310px;
}
#formName, #formEmail, #formSubject, #formMessage{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 150px;
	text-align: center;
	
	
}

#submit_button{
	border-radius: 5px;
	height: 30px;
	width: 130px;
}

