#form-style {
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	margin: 100px 200px 100px 200px;
}
.center {
	text-align: center;
}

#numFrom, #converted_value {
	height: 30px;
	width: 150px;
	display: inline-block;
	background-color: white;
	text-align: center;
	border-radius: 5px;
}

#dropFrom {
	display: inline-block;
	background-color: #696969;
	color: white;
	width: 170px;
	font-family: "Arial";
	border-radius: 5px;
}

#dropTo {
	display: inline-block;
	background-color: #696969;
	color: white;
	font-family: "Arial";
	border-radius: 5px;
	width: 170px;
}

#calculate {
	height: 30px;
	width: 150px;
	font-family: "Arial";
	margin-top: 40px;
	margin-bottom: 50px;
	background-color: #black;
	border-radius: 5px;
	border: none;
}

#word_bank {

	margin: auto; /*center horizontally*/
	width: 30%;
	padding: 10px;
}

#conversion-row {
	margin-top: 50px;
	margin-bottom: 50px;
}

#farenheit {
	float: left;
	background-color: #696969;
	color: white;
	font-family: "Arial";
	padding: .1cm .2cm 0 .2cm;
	border-radius: 5px;
}

#celcius {
	/*float: right;*/
	background-color: #696969;
	color: white;
	display: inline-block;
	font-family: "Arial";
	padding: .1cm .2cm 0 .2cm;
	border-radius: 5px;
}

#kelvin {
	float: right;
	background-color: #696969;
	color: white;
	display: inline-block;
	font-family: "Arial";
	padding: .1cm .2cm 0 .2cm;
	border-radius: 5px;
}

