.footer{
    height: 50px;
    width: 100%;
    font-family: Calibri;
    float: bottom;
    position: relative; 
    margin-top: 70px;
	background-color: #222;
}

#copyright{
	color: #D3D3D3;
	text-align: right;
	margin-right: 10px;
	
}

.bottom-space{
    padding-top: 50px;
} 